<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <img src="C:/Users/hiram/Downloads/aimep3.png" alt="Logo Apollo UCC" />

      <!-- Enlaces de navegación -->
      <div>
        <a href="#">Galaxias</a>
        <a href="#">Nébula</a>
        <a href="#">Sistema Solar</a>
      </div>

      <img
        class="logo-right"
        src="C:/Users/hiram/Downloads/elmaya.png"
        alt="Logo Space Apps"
      />
    </nav>

    <div class="main-content">
      <div>
        <h1>Bienvenido a la experiencia del Telescopio Espacial James Webb.</h1>
        <p>¿Estás listo?</p>
      </div>
    </div>
  </body>
</html>
